<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.SysUserDao">

    <select id="selectLoginUser" parameterType="string" resultType="com.web.entity.SysUser">
        select  userId,
                password,
                userName,
                sex,
                IDENTITYCARD,
                deptId,
                authority,
                readAuthority,
                downloadAuthority,
                uploadAuthority
        from TBLSYSUSER where USERID = #{userId}
    </select>

</mapper>